In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc, font_manager
import datetime
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

font_name = font_manager.FontProperties(fname='./malgun.ttf').get_name()
rc('font', family=font_name)

C:\Users\hajae\anaconda3\envs\pydatavenv\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\hajae\anaconda3\envs\pydatavenv\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\hajae\anaconda3\envs\pydatavenv\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df = pd.read_excel('./data_missing/거주인구_2021.3_4 기준.xlsx', engine='openpyxl', skiprows=[0,1])

In [3]:
df.columns = ['자치구', '동', '인구']

In [9]:
df_g = df.groupby('자치구')[['인구']].sum().reset_index()

In [11]:
df_g.to_csv('./result/구별 거주인구.csv', index=False)

In [8]:
df[df['자치구'] == '관악구'].sort_values(by='인구')

     자치구     동     인구
320  관악구   청림동  15328
331  관악구   난향동  15491
323  관악구   중앙동  15606
322  관악구  낙성대동  17516
325  관악구   남현동  18390
332  관악구   조원동  18724
327  관악구   신원동  18838
338  관악구   삼성동  22656
330  관악구   신림동  22894
326  관악구   서원동  23317
328  관악구   서림동  23741
333  관악구   대학동  24913
329  관악구   신사동  24921
319  관악구  보라매동  24974
324  관악구   인헌동  26223
337  관악구   난곡동  27412
321  관악구   행운동  29492
335  관악구   성현동  29606
339  관악구   미성동  31258
334  관악구   은천동  33814
336  관악구   청룡동  36458

In [7]:
df[df['자치구'] == '금천구'].sort_values(by='인구', ascending=False)

     자치구     동     인구
277  금천구  독산1동  46113
281  금천구  시흥1동  34625
279  금천구  독산3동  27713
276  금천구   가산동  25956
282  금천구  시흥2동  21444
284  금천구  시흥4동  21024
278  금천구  독산2동  20275
285  금천구  시흥5동  19861
280  금천구  독산4동  16876
283  금천구  시흥3동  11000